@import url('https://fonts.googleapis.com/css2?family=Anta&family=Kode+Mono:wght@400..700&display=swap');


body{
    background: #f6f5f7; 
    font-family: 'Anta', sans-serif;
    background-image: url(leas.jpg);
    color: #3E363F;
}
h1 {
    text-align: center;
    margin-top: 50px;
    color: rgb(201, 57, 201);
    font-size: 100px; 
}

#guess-input{
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 18px;
    width: 250px;
    border: 5px solid #37075f;
}
#guess-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: purple;
    color: #fff;
    border: none;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-family: 'Anta', sans-serif;
  }
  #reiniciar{
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ba0c94;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-family: 'Anta', sans-serif;
  }
.container {
    width: 900px;
    height: 500px;
    text-align: center;
    /* Estas 3 lineas se encargan de centrar el div vertical y horizontalmente */
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
      0 10px 10px rgba(0,0,0,0.22);
}

.instrucciones {
    width: 300px; 
    height: auto; 
    position: absolute;
    top: 90px; 
    background-image: url(papel.webp);
    background-size: cover; 
    background-position: center; 
    color: black;
    font-family: 'Anta', sans-serif;
    margin: auto;
    transform: translateY(-15%);
    overflow: hidden;
    padding: 20px; 
    box-sizing: border-box; 
}
  button:active {
      transform: scale(0.95);
  }
  
#guess-button:disabled {
    background-color: aquamarine;
}
.centrado{
    text-align: center;
  }
  .letter {
      border: 1px solid black;
      padding: 3px;
      margin: 3px;
      min-width: 20px;
      text-align: center;
      display: inline-block
  }
     
  .row{
      margin-bottom: 10px;
      
  }
     
  .input-area{
      margin: 30px;
  }
